body {
	background-color: powderblue;
	font-size: 125%;
	
}
h1 {
	font-size: 300%;
}
h2 {
	font-size: 150%;
}
img {
	width: 25%;
	height: 25%;
	}
h3 {
	font-size: 150%;
}
h4 {
	font-size: 150%;
}
h5 {
	font-size: 150%;
}

